.resume_img_1{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width:815px; 
    height:1056px;
}
.resume_img_2{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width:815px; 
    height:1056px;
}