@import url(fontawesome-all.min.css);

.layout{
  background-color: #272727;
}

.home-page p{
  color: white;
}
.home-page h1, h2, h3{
  color: #DD614A;
}
.projects-h{
  color:#353534;
}
.header-color {
  /*background: -webkit-linear-gradient(to right, #0b8793, #360033);*/  /* Chrome 10-25, Safari 5.1-6 */

  /*background: linear-gradient(to right, #353534, #353534);*/
  /*background: lightseagreen*/
  /*background: linear-gradient(to right, #536976, #292E49);*/
  background: #90A9B7;
}
.footer-color {
  /*background: -webkit-linear-gradient(to right, #0b8793, #360033);*/  /* Chrome 10-25, Safari 5.1-6 */

  /*background: linear-gradient(to right, #353534, #353534);*/
  /*background: lightseagreen*/
  /*background: linear-gradient(to right, #536976, #292E49);*/
  background: #AFC1D6;
}

.drawer-color{
  background: linear-gradient(to right, #536976, #292E49);
  background-color: #353534;
  background: #353534;
}


/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.icons li {
    display: inline-block;
    padding: 0 0.65em 0 0;
  }

    ul.icons li:last-child {
      padding-right: 0 !important;
    }

/* Icon */

.icon {
  background-color: #CEF9F2;
  border-bottom: none;
  position: relative;
}

  .icon.major {
    border: solid 4px;
    display: inline-block;
    border-radius: 100%;
    padding: 0.65em;
    margin: 0 0 2em 0;
    cursor: default;
  }

    .icon.major:before {
      display: inline-block;
      font-size: 6.25rem;
      width: 2.25em;
      height: 2.25em;
      line-height: 2.2em;
      border-radius: 100%;
      text-align: center;
    }

.icon.major {
  border-color: #AB92BF;
  color: #AB92BF;
}

  .icon.major:before {
    color: #AB92BF;
  }

  .footer-icons{
    color: #AB92BF;
  }

  